In [1]:
import pandas as pd

In [2]:
mk2_customer = pd.read_json(r"C:\Users\USER\Data-pipeline-Individual\Market 2 Customers.json")

In [3]:
mk2_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer ID          1095 non-null   int64
 1   Last Used Platform   1095 non-null   object
 2   Is Blocked           1095 non-null   int64
 3   Created At           1095 non-null   object
 4   Language             1095 non-null   object
 5   Outstanding Amount   1095 non-null   int64
 6   Loyalty Points       1095 non-null   int64
 7   Number of Employees  605 non-null    float64
dtypes: float64(1), int64(4), object(3)
memory usage: 68.6+ KB

In [4]:
pd.json_normalize(mk2_customer['Number of Employees'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1095 rows x 0 columns]

In [5]:
mk2_customer.columns

Index(['Customer ID', 'Last Used Platform', 'Is Blocked', 'Created At',
       'Language', 'Outstanding Amount', 'Loyalty Points',
       'Number of Employees'],
      dtype='object')

In [6]:
colu_to_drop = ['Number of Employees']

In [7]:
mk2_cus = mk2_customer.drop(colu_to_drop, axis =1)

In [8]:
mk2_cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         1095 non-null   int64
 1   Last Used Platform  1095 non-null   object
 2   Is Blocked          1095 non-null   int64
 3   Created At          1095 non-null   object
 4   Language            1095 non-null   object
 5   Outstanding Amount  1095 non-null   int64
 6   Loyalty Points      1095 non-null   int64
dtypes: int64(4), object(3)
memory usage: 60.0+ KB

In [9]:
mk2_cus.to_csv('up_mk2_cus.csv', index=False)

In [10]:
mk2_cus.columns

Index(['Customer ID', 'Last Used Platform', 'Is Blocked', 'Created At',
       'Language', 'Outstanding Amount', 'Loyalty Points'],
      dtype='object')